html {
  height: 100%;
}

body {
    background-color: #F6F6F6;
    height: 100%;
    margin: 0;
}


h3 {
	font-family: "Lucida", Lucida, monospace;
	text-align: left;
}

.text {
	font-family: "Lucida", Lucida, monospace;
	font-size: 11px;
	text-align: center;
}

h5 {
	font-family: "Lucida", Lucida, monospace;
  font-size: 20px;
}


.button {
	text-align: center;
}

.button button {
    border-color: #9C123E;
    color: #9C123E;
    cursor: pointer;
    padding: 10px 30px;
}

.button button:hover {
  background-color: #9C123E;
  color: white;
  padding: 10px 30px;
}

.container {
	text-align: center;
}

.description {
	font-family: "Lucida", Lucida, monospace;
	font-size: 16px;
  width: 600px;
  margin: 0 auto;
  display: block;
  text-align: left;
}

.logo {
    margin: 0 auto;
    display: block;
    height: 100px;
    padding: 30px;
}

.title {
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
